@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


body{
    background-color: rgb(162, 160, 160);
    font-family: "playfair Display";
}

h1, h2{
    text-align: center;
}

img{
display: block;
margin: auto;
border-radius: 50%; 

}

img:hover{
    width: 200px;
    height: 200px;
    scale: 1.5;
    transition: all 0.5s ease;
    overflow: hidden;
}

p{
    text-align: center;
    background-color: darkorange;
    color: white;
    margin:auto;
    font-size: 22px;
    padding: 20px;
    border-radius: 8px;
    
}

p:hover{
    background-color: darkblue;
}

h3{
    width: 80%;
    margin: auto;
    background-color: rgb(190, 189, 189);
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}

ul{
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(210, 208, 208);
}

ol{
    background-color: beige;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
}

a{
    background: rgb(0, 0, 69);
    padding: 20px;
    display: block;
    margin: auto;
    text-align: center;
    width: fit-content;
    border-radius: 20px;
}